/*
////////Elements/////////
*/

* {
box-sizing: border-box;
}

body {
	font-size: 1em;
	color: darkslategray;
	font-family: 'Avenir Light', sans-serif;
}

/*
/////////Grid layout///////////
*/

.grid-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
}

header,
nav,
main {
	grid-template-columns: 100%
}



/* HEADER */


header {
	color: white;
	background-color: #8980b8;
}

h1 {

	padding: 0;
	float: left;
	clear: right;
}

.profile-info {
	padding-top: 30px;
	padding-left: 20px;
	display: flex;
	justify-content: flex-end;
}

.bell {
	height: 20px;
	padding-left: 10px;
	position: relative;
}

.bell:hover {
	transform: scale(1.1);
	transition-duration: .5s;
}


#notifications img {
	position: absolute;
	top:	35px;
	height: 10px;
	
}

.profile-info img {
	height: 25px;
	padding-right: 10px;
	padding-left: 10px;
}

.profile-info h3 {
	margin: 0;
	font-size: 1em;
}




/* Navigation */

nav {
	background-color: #6d6190;
	display: flex;
	justify-content: space-around;
}

.icon {
	height: 35px;
}


/* Alert */

.alert-banner {
	width: 90%;
	height: auto;
	background-color: #6d6190;
	color: white;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
	padding: 5px 0;
}

.alert-banner-close {
	display: block;
	font-size: 1.5em;
	padding-top: 10px;
	cursor: pointer;
}


/* Dashboard */

.top-tab {
	text-align: center;
}

.search-bar {
	width: 90%;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

#search {
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 75%;
}

/* Traffic */

ul {
	display: flex;
	list-style: none;
	justify-content: flex-end;
}

li {
	align-items: flex-start;
	padding: 5px 10px;
}


section {
	padding-bottom: 25px;
	border-bottom: .5px solid #ccc;
}


/* Social Stats */

.twitter-card,
.facebook-card,
.google-card{
	background-color: ghostwhite;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 5px;
}

.facebook,
.google,
.twitter {
	background-color: #6d6190;
	border-radius: 25%;
	padding: 10px;
}

path {
	fill: white;
	padding: 10px

}

svg {
	height: 55px;
}

.facebook {
	padding: 0;
}

.social-text {
	display: inline-block;
	padding-left: 25%;
}

.social-text {
	color: #6d6190;
	line-height: 0;
}

.stat {
	color: darkslategray;
	font-size: 2em;
}

.social-image {
	display: inline-block;
	padding-left: 15px;
	padding-top:15px;
}


/* New Members and Recent Activity*/

.member-container,
.new-member-container{
	background-color: ghostwhite;
	display: grid;
	margin-top: 1em;
	padding-bottom: 10px;
}

.member-container {
		grid-template-columns: 40px 1fr 20px;
}

.new-member-container {
		grid-template-columns: 40px 1fr 70px;
}

.member-image {
	grid-column-start: 1;
	grid-column-end: 2;
	border-radius: 50%;
	height: 2em;

	margin-top: .75em;
	margin-left: .75em;
}

.member-text {
	grid-column-start: 2;
	grid-column-end: 3;
	line-height: 0;
	padding-left: 10px;
	padding-top: 10px;
}

.member-container p,
.member-container a,
.new-member-container p,
.new-member-container a {
	font-size: .75em;
}

.date,
.arrow {
	display: flex;
	align-items: center;
	grid-column-start: 3;
	grid-column-end: 4;
}

/* Message Users*/

button {
	border-radius: 5px;
	background-color: #8980b8;
	border-color: #fff transparent transparent transparent;
	color: white;
	padding: 10px 20px;
}

#search-for-user,
textarea,
#primary-button {
	margin: 15px 0;
	width: 100%;
	display: block;
}

#search-for-user,
textarea {
	border: .5px solid #ccc;
}

textarea {
	height: 100px;
}

/* Settings */

.switch-material.switch-light > span {
	display: inline-block;
	padding: 10px;
}

.switch-light strong {
	padding-right: 10px;
}

.select-menu select{
	width: 100%;
	background-color: ghostwhite;
	border: 1px solid transparent;
	user-select: none;
	cursor: pointer;
}

.select-menu {
	margin: 10px 0;
}

.columns {
	display: inline-block;
	padding: 20px 0;
}

.save-button,
.cancel-button {
	display: inline-block;
	width: 49%;
}


.half-width-container,
.full-widget-container{
	width: 95vw;
}

main,
nav,
header{
	padding: 10px;
}

.main-grid {
	display: grid;
}


@media (min-width: 768px) {
	
	main {
		max-width: 95vw
	}
	
	.grid-container {
		display: grid;
		grid-template-columns: 80px 1fr;
		grid-template-rows: auto;
		}

	.main-grid{
		grid-template-columns: 1fr;
	}


	.half-width-container {
		width: 45vw;
		}
	
	.full-width-container {
		width: 90vw;
		}

	nav {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	header {
		grid-column-start: 1;
		grid-column-end: 4;
		}


	.daily-traffic,
	.new-members,
	.message-user {
			grid-column-start: 2;
			grid-column-end: 3;
		}

	.traffic,
	.social-stats,
	main,
	.alert,
	.second-row{
			grid-column-start: 2;
			grid-column-end: 4;
		}

	.mobile-users,
	.recent-activity,
	.settings {
			grid-column-start: 3;
			grid-column-end: 4;
		}
	.half-width-container {
			width: 45vw;
	}

	.full-widget-container {
			width: 90vw;
}

/* Header */
	
	h1 {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		float: left;
		clear: right;
	}

	.profile-info {
		padding-top: 30px;
		display: flex;
		justify-content: flex-end;
	}

	.bell {
		height: 25px;
		padding-right: 25px;
	}

	.profile-info img {
		height: 25px;
		padding-right: 10px;
	}

	.profile-info h3 {
		margin: 0;
	}

/* Naviation */
	
	
	nav {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	
	.icon {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		border: 5px solid transparent;
		height: 60px;
	}

	.icon:hover {
		border-left: 5px solid green
	}
	
/* Alert */
	
	.alert-banner {
		display: grid;
		grid-template-columns: 1fr 30px;
	}
	
	.alert-text {
		display: block;
		float: left;
		clear: right;
		padding-top: 5px;
	}
	.alert-banner-close {
		display: block;
		float: right;
		clear: left;
		padding: 0;
	}
	
/* Dashboard */
	
	.search-bar {
		display: block;
		float: right;
		clear: left;
		padding-top: 20px;
		padding-left: 50px;
		width: 50%;
	}
	
	#search {
		display: block;
		float: right;
		padding-right: 25px;
	}
	
	.top-tab {
		display: inline-block;
	}
	
	ul {
		padding-right: 2em;
	}

	section {
		padding-right: 10px;
		padding-left: 10px;
	}
	
	/* Daily Traffic */
	
	.daily-traffic,
	.new-members,
	.message-user{
		border-right: .5px solid #ccc;
	}
	
/* Social Stats */

	
	.twitter-card,
	.facebook-card,
	.google-card {
		display: inline-block;
		clear: left;
		width: 25vw;
		margin-right: 30px;
	}
	
	.social-stats {
		margin: 0 2em;;
	}

	.second-row {
		max-width: 90vw;
	}
	
	.daily-traffic,
	.mobile-users {
		max-width: 45vw;
		padding-left: 0;
	}

}
	













